   #title{
       position: relative;
       left: 11%;  
    }

   .label {
      background-color: red;
      color: white;
      padding: 5px;
      font-weight: bold;
      font-size: 1.2em;
      padding: 0.2em 0.6em;
      border-radius: 0.5em;
       }

   .pull-right {
      float: right;
      position: absolute;
      left: 1032px;
      }
        
   nav.navbar.navbar-default{
      background-color: #337ab7;
      border-color: #2e6da4;
      border-radius: 5px;
      margin-top: 10px;
      height: 50px;
      }

   nav.navbar.navbar-default a {
      color: white;
      }

   li p.navbar-text, a.navbar-brand {
         color: white!important;
         font-weight: bolder;
         font-size: 1.2em;
      }

   footer.footer {
         background-color: #337ab7;
         border-color: #2e6da4;
         margin-top: 55px;
         color: white;
         border-radius: 5px;
         width: 99.5%;
   }

   footer.footer p {
         padding: 10px;
   }

   .nav-label{
         font-size: 1.1em;
         
         color: white;
      }

   .new{
     
      position: absolute;
      right: 80px;
      top: 14px;

   }
   .al-danger{
      color: #761b18;
      font-size: 15px;
      background-color: #f9d6d5;
      border-color: #f7c6c5;
      text-align: center;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
   }
   input[type=text], input[type=number] {
      font-size: 14px;
   } 
   .btn-style{
      background-color: #337ab7;
      color: white;
      font-size: 1.2em;
      padding: 0.2em 0.6em;
      border-radius: 0.5em;
   }
   .error-message {
      background: white;
      color: black;
      text-align: center;
      list-style-type: none;
      width: 40%;
      border-radius: 12px;
      position: relative;
      left: 20px;
      animation-name: example;
      animation-duration: 4s;
      margin: 0 auto;
   }
   .lixeira{
      position: relative;
      left: 1030px;
      top: 70px;

   }
   .editar{
      position: relative;
      left: 950px;
      top: 47px;
      width: 60px;
      
   }
   .ale-danger{
      color: #070707;
      font-size: 15px;
      background-color: #f7ff0a;
      border-color: #d9ed46;
      text-align: left;
      width: 160px;
      height: 180px;
      position: absolute;
      left: 1310px;
      top: 10px;
      float: left;
   }

   .atention{
      position: relative;
      left: 17px;
      font-size: 30px;
   }

.pgf{
   position: absolute;
   float: right;
   text-align: right;
   right: 10px;
   top: 23px;

}